 <h3 class="text-center mb-4">Sing In</h3>
 <form [formGroup]="formularioLogin" (ngSubmit)="enviar()">
   <div class="mb-3">
     <label for="user" class="form-label">User/Email address</label>
      <input [ngClass]="{'is-invalid':hasErrors('email', 'required') || hasErrors('user', 'email')}"
      type="text" class="form-control" id="user" formControlName="user" placeholder="Enter your user or email address.">
        <div class="text-danger" *ngIf="hasErrors('user', 'email') || hasErrors('user', 'required')">
            Please provide a valid user or email.
        </div>
    </div>
    <div class="mb-3">
      <label for="password"  class="form-label">Password</label>
       <input [ngClass]="{'is-invalid':hasErrors('password', 'required')}" 
            type="password" class="form-control" id="password" formControlName="password" placeholder="Enter the password.">
       <div class="text-danger" *ngIf="hasErrors('password', 'required')">
            The password is incorrect.
        </div>
    </div>
      <button type="submit" class="btn btn-primary w-100">Log In</button>
 </form>