<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CompluSound</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sounds">Sounds</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Map</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="map/global-map">Global Map</a></li>
            <li><a class="dropdown-item" routerLink="map/ucm-map">UCM Map</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="forum">Forum</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="add-sound">Add Sound</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />
