.contactus{
    display: flex;
    gap: 20px;
    padding-top: 1%;
    
}

.info-icon{
    display: flex;
    align-items: center;
}

.info-block{
    display: block;
    padding: 2%;
}

.info-block p{
    margin-bottom: 0%;
}

.info-contactus{
    padding: 2%;
}

mat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-style: solid;
    border-radius: 10%;
    border-width: 1px;
}