<div class="contactus">
    <div class="info-contactus container-md" >
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, neque sapiente! Quae unde, repellat, nostrum explicabo, eius optio deleniti hic quis iusto natus tempora rem ratione deserunt consequuntur delectus consequatur.</p>
        
        
        <div class="info-icon">
            <mat-icon aria-hidden="false" fontIcon="phone"></mat-icon>
            <span class="info-block">
                <p>Call</p>
                <p>+909738273</p>
            </span>
        </div>
        <div class="info-icon">
            <mat-icon aria-hidden="false" fontIcon="mail"></mat-icon>
            <span class="info-block">
                <p>Email</p>
                <p>info&#64;example.com</p>
            </span>
        </div>
        <div class="info-icon">
            <mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon>
            <span class="info-block">
                <p>Address</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </span>
        </div>
    </div>
    <div class="form-contactus info-contactus container-md">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="email" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="email" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="name@gmail.com">
            <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="3" placeholder="Your Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>